.topnav {
    background-color: #333;
    position: fixed;
    left: -0.02%;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

.topnav a.active {
    background-color: #7289da;
    color: white;
}

.center {
    margin: auto;
    width: 75%;
    height: 500px;
}

.bottomnav {
    margin: auto;
    width: 50px;
    height: 50px;
}

.img3 {
  opacity: 0.5;
}

.img3:hover {
  opacity: 1.0;
}

.maincenter {
    margin: auto;
    width: 50%;
    height: 100%;
    top: 50%;
    transform: translate(0%, 50%);
}

.content {
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #7289da;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #7289da;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    transform: translateY(-32.5%);
    left: 0;
    right: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}