.topnav {
    background-color: #333;
    position: fixed;
    left: -0.02%;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

.topnav a.active {
    background-color: #7289da;
    color: white;
}

.center {
    margin: auto;
    width: 75%;
    height: 500px;
}

.bottomnav {
    margin: auto;
    width: 50px;
    height: 50px;
}